doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title 文章信息展示
    link(rel='stylesheet', href='./css/index.css', type='text/css')
  body
    .wrap
      ul.news-list
        each val in newsData
          li.news
            a(href='javascript:;')
              img(src=val.imgUrl, alt='')
            .newsContainer
             h3
               a.title(href='javascript:;') #{val.title}
               .info
                span.tips
                  span 纵火
                  span 韩国
                  span 逮捕
                span.time |   #{val.newTime}
      .pagination
        a.prev(href='javascript:;') ⌜
        - for(let i=1;i<=pCount;i++)
          a(href='/news/index?p='+i) #{i}
        a.next(href='javascript:;') ⌝
