.container {
    text-align: center;
}
.center{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
td, th{text-align: center;}
#readFile{
    float: left;
    width:390px;
}
#writerFile{
    float: right;
    width:390px;
}